header {
  height: 100px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
}

.logo {
  width: 112px;
  height: 84px;
  object-fit: fill;
}

h3 {
  width: 123.91px;
  height: 72.54px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: white;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 63px;
  width: 683.76px;
  height: 57.44px;
  right: 0px;
}

button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: white;
  border: none;
  background-color: transparent;
}